# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage output
coverage
*.lcov
.nyc_output

# Grunt storage
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# npm/yarn/pnpm caches
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# ESLint/Stylelint
.eslintcache
.stylelintcache

# Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack
*.tgz

# Yarn
.yarn-integrity

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Parcel cache
.cache
.parcel-cache

# Next.js
.next
out

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Vercel
.vercel

# Nuxt
.nuxt
dist

# Gatsby
.cache/
# public  # Uncomment if using Gatsby instead of Next.js

# VuePress
.vuepress/dist
.temp

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB local
.dynamodb/

# TernJS
.tern-port

# VSCode extension testing
.vscode-test